* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: #fff8f3;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/* common btn */
.common_btn {
  background-color: #fd6e0a;
  color: #ffffff;
  padding: 0.7rem 1.6rem;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  box-shadow: 0 4px 14px rgba(253, 110, 10, 0.3);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.outline_btn {
  background-color: white;
  color: #fd6e0a;
  padding: 0.7rem 1.6rem;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  box-shadow: 0 4px 14px rgba(253, 110, 10, 0.3);
  transition: all 0.3s ease;
  border: 1px solid #fd6e0a;
  cursor: pointer;
}
.btn_div {
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.logo {
  font-weight: bold;
  font-size: 32px;
}
nav h2 span {
  color: #fd6e0a;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
}
.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_section {
  background-color: #fff8f3;
  margin-top: 130px;
}
.about_content {
  padding: 100px;
  text-align: center;
}
.about_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.what_i_do_section {
  text-align: center;
  margin-top: 150px;
}
.card_content {
  display: flex;
  justify-content: left;
  text-align: center;
  text-align: left;
  margin-top: 50px;
  gap: 20px;
}
.card {
  flex: 1 1 calc(25% - 25px);
  background: #fff;
  border-radius: 12px;
  padding: 35px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}
.services {
  padding: 90px 0;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-description {
  max-width: 750px;
  margin: 0 auto 60px;
  text-align: center;
  color: #777;
  line-height: 1.8;
}

.service-card {
  flex: 1 1 calc(25% - 25px);
  background: #fff;
  border-radius: 12px;
  padding: 35px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

/* Hover Effect */

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
}

.service-icon {
  font-size: 3rem;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.service-card p {
  color: #666;
  line-height: 1.8;
  font-size: 0.95rem;
}
